footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 62px;
  border-color: #e5e5e5;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: $secondary-fonts, sans-serif;
}

.url {
  text-decoration: none;
  color: #f38181;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  width: 380px;

  &--input {
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    padding-left: 10px;
  }

  &--button {
    font-size: 14px;
    color: $main-color;
    font-family: $secondary-fonts;
    font-weight: 700;
    text-align: center;
    background-color: #95e1d3;
  }
}

button {
  border: solid 0;
  height: 40px;
  width: 150px;
  cursor: pointer;
}

input {
  color: #e7e7e7;
  height: 40px;
  width: 230px;
  opacity: 0.5;
}

footer {
  border: 1px solid;
  color: #e5e5e5;
}
